.w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-size: cover;
  background-position: 50% 50%;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

body {
  font-family: Roboto, sans-serif;
  color: #313131;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #505050;
  font-size: 28px;
  line-height: 36px;
  font-weight: 300;
}

h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #3b88b6;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

h4 {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #505050;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
  color: #919191;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
}

.button {
  display: inline-block;
  padding: 12px 18px;
  border-bottom: 2px solid #969696;
  border-radius: 3px;
  background-color: #09f;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  color: #fff;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  border-bottom-color: #2d6d91;
  background-color: #3b88b6;
}

.button.button-blue {
  border-bottom-color: #2d6d91;
  background-color: #3b88b6;
}

.button.button-blue:hover {
  border-bottom-color: #313131;
  background-color: #505050;
}

.navigation {
  position: -webkit-sticky;
  position: sticky;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding-bottom: 17px;
  background-color: #fff;
  font-size: 18px;
}

.banner {
  position: relative;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #e3e3e3;
  background-color: #f7f7f7;
}

.banner.inner-banner {
  height: auto;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #050413;
}

.logo {
  margin-top: 25px;
}

.nav-link {
  padding-top: 50px;
  padding-right: 5px;
  padding-left: 8px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #949494;
  font-size: 18px;
  font-weight: 400;
}

.nav-link:hover {
  box-shadow: 0 -2px 0 0 #505050;
  color: #505050;
}

.nav-link.w--current {
  padding-top: 50px;
  padding-right: 5px;
  padding-left: 6px;
  box-shadow: 0 -2px 0 0 #3b88b6;
  color: #3b88b6;
  font-size: 18px;
}

.shadow {
  position: absolute;
  left: 0px;
  top: -8px;
  right: 0px;
  z-index: 2;
  opacity: 0.25;
  text-align: center;
}

.top-bar {
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid #ebebeb;
  background-color: #f2f2f2;
}

.location-top {
  width: 50%;
  float: left;
}

.list-top {
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
}

.list-top.phone {
  margin-right: 25px;
  padding-left: 25px;
  background-image: url('../images/phone_3b88b6_101phone_3b88b6_100.png');
  background-position: 0px 8px;
  background-size: 18px;
  background-repeat: no-repeat;
}

.list-top.phone.mail {
  background-image: url('../images/envelope_3b88b6_101envelope_3b88b6_100.png');
  background-position: 0px 9px;
  background-size: 16px;
}

.paragraph-top {
  font-size: 14px;
  line-height: 20px;
}

.social-top {
  width: 50%;
  float: left;
}

.social-wrapper {
  display: inline-block;
  padding-top: 3px;
  float: right;
}

.social-wrapper.in-footer {
  float: left;
}

.social-wrapper.in-team {
  display: block;
  float: none;
}

.social-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 4px;
  border-bottom: 2px solid #969696;
  border-radius: 3px;
  background-color: #aaa;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}

.social-icon:hover {
  border-bottom-color: #2d6d91;
  background-color: #3b88b6;
}

.social-icon.facebook {
  background-image: url('../images/facebook_ffffff_150.png');
  background-position: 50% 50%;
  background-size: 11px;
  background-repeat: no-repeat;
}

.social-icon.twitter {
  background-image: url('../images/twitter_ffffff_150.png');
  background-position: 50% 50%;
  background-size: 11px;
  background-repeat: no-repeat;
}

.social-icon.linkin {
  background-image: url('../images/linkedin_ffffff_150.png');
  background-position: 50% 50%;
  background-size: 11px;
  background-repeat: no-repeat;
}

.social-icon.rss {
  background-image: url('../images/rss_ffffff_150.png');
  background-position: 50% 50%;
  background-size: 11px;
  background-repeat: no-repeat;
}

.social-icon.icon-portfolio {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  margin-left: 5px;
}

.social-icon.icon-portfolio.left-arrow {
  background-image: url('../images/angle-double-left_ffffff_101angle-double-left_ffffff_100.png');
  background-position: 50% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}

.social-icon.icon-portfolio.icon-right {
  background-image: url('../images/angle-double-right_ffffff_101angle-double-right_ffffff_100.png');
  background-position: 50% 50%;
  background-size: 23px;
  background-repeat: no-repeat;
}

.social-icon.icon-portfolio.port {
  background-image: url('../images/th_ffffff_101th_ffffff_100.png');
  background-position: 50% 50%;
  background-size: 17px;
  background-repeat: no-repeat;
}

.section {
  position: relative;
  z-index: 4;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 0px;
  background-color: #fff;
  box-shadow: 8px 8px 3px 0 #000;
  color: #fff;
}

.section.gray {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #e3e3e3;
  background-color: #f7f7f7;
}

.section.gray.pattern {
  border-top-style: none;
  border-bottom-style: none;
  background-color: #3b88b6;
  text-align: center;
}

.section.no-big-margin {
  padding-top: 0px;
  padding-bottom: 0px;
}

.mail {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #818181;
  font-size: 16px;
  text-decoration: none;
}

.mail:hover {
  color: #313131;
}

.title-wrapper {
  margin-bottom: 40px;
  text-align: center;
}

.title-wrapper.no-margin {
  margin-bottom: 0px;
}

.title-wrapper.inner {
  margin-bottom: 0px;
}

.sub-text {
  margin-top: 20px;
  color: #f5f0f0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}

.sub-text.sub-pricing {
  margin-top: 0px;
  color: #999;
}

.iconbox {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #3b88b6;
}

.iconbox.icon-1 {
  background-image: url('../images/rocket_ffffff_101rocket_ffffff_100.png');
  background-position: 50% 50%;
  background-size: 25px;
  background-repeat: no-repeat;
}

.iconbox.icon-2 {
  background-image: url('../images/paint-brush_ffffff_101paint-brush_ffffff_100.png');
  background-position: 50% 50%;
  background-size: 25px;
  background-repeat: no-repeat;
}

.iconbox.icon-3 {
  background-image: url('../images/shield_ffffff_101shield_ffffff_100.png');
  background-position: 50% 50%;
  background-size: 25px;
  background-repeat: no-repeat;
}

.iconbox.icon-4 {
  background-image: url('../images/magic_ffffff_101magic_ffffff_100.png');
  background-position: 50% 50%;
  background-size: 25px;
  background-repeat: no-repeat;
}

.line {
  width: 100%;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #ebebeb;
}

.div-space {
  margin-top: 20px;
}

.div-space.more-space {
  margin-top: 40px;
}

.div-space.less-space {
  margin-top: 40px;
}

.process-wrapper {
  position: relative;
  width: 25%;
  padding-top: 38px;
  padding-bottom: 48px;
  float: left;
}

.process-wrapper.step-1 {
  background-color: #c9e6f2;
}

.process-wrapper.step-2 {
  background-color: #94cfe6;
}

.process-wrapper.step-3 {
  background-color: #5eb6d9;
}

.process-wrapper.step-4 {
  background-color: #289dcc;
}

.arrow-process {
  position: absolute;
  top: 59px;
  width: 0px;
  height: 0px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left-style: solid;
  border-left-width: 15px;
}

.arrow-process.step-1 {
  border-left-color: #c9e6f2;
}

.arrow-process.step-2 {
  border-left-color: #94cfe6;
}

.arrow-process.step-3 {
  border-left-color: #5eb6d9;
}

.no-margin {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 5px;
}

.section-process {
  display: block;
}

.portfolio-text {
  padding: 17px 10px;
  border-bottom: 2px solid #ebe8e8;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff;
}

.portfolio-text.gray {
  background-color: #f2f2f2;
}

.slide-navigation {
  position: relative;
  padding-top: 26px;
  font-size: 10px;
}

.slide-navigation.top-slide {
  position: absolute;
  padding-top: 10px;
  font-size: 12px;
}

.portfolio-slider {
  height: auto;
  background-color: transparent;
}

.arrow {
  width: 40px;
  height: 40px;
  margin-top: 92px;
  padding-top: 13px;
  border-bottom: 2px solid #969696;
  border-radius: 11%;
  background-color: #aaa;
  opacity: 0;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.arrow:hover {
  border-bottom-color: #2d6d91;
  background-color: #3b88b6;
}

.arrow.test {
  margin-top: 85px;
}

.vertical-arrow {
  position: absolute;
  right: -30px;
  overflow: visible;
}

.vertical-arrow._2 {
  left: -30px;
  right: auto;
}

.portfolio {
  margin-top: 0px;
  margin-bottom: 3px;
  font-weight: 400;
}

.process-text {
  padding-right: 20px;
  padding-left: 35px;
  color: #fff;
}

.no-text {
  font-size: 65px;
  line-height: 70px;
  font-weight: 400;
}

.paragraph-text {
  margin-top: 10px;
  color: #fff;
  font-size: 18px;
}

.paragraph-text.paragraph-primary {
  margin-top: 0px;
  font-size: 22px;
  line-height: 20px;
}

.paragraph-white {
  color: #fff;
  font-size: 13px;
}

.paragraph-sub {
  color: #bdbdbd;
  font-size: 15px;
  font-weight: 300;
}

.portfolio-base {
  width: 33.33%;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  text-align: center;
}

.portfolio-overlay {
  position: relative;
  top: 5px;
  overflow: hidden;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.client {
  width: 30%;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
}

.div-bottom-space {
  margin-bottom: 20px;
}

.footer {
  position: relative;
  padding-top: 55px;
  padding-bottom: 110px;
  background-color: #0f091d;
  color: #0b0535;
}

.tab {
  margin-right: 5px;
  padding: 11px 20px;
  border-bottom: 2px solid #e3e3e3;
  border-radius: 4px;
  background-color: #f6f6f6;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  color: #818181;
  font-size: 16px;
}

.tab.w--current {
  border-bottom-color: #2d6d91;
  background-color: #db365a;
  color: #fff;
}

.tab-content {
  margin-top: 25px;
}

.testimonials-slider {
  height: auto;
  background-color: transparent;
}

.testimonials-wrapper {
  padding-right: 92px;
  padding-left: 92px;
  text-align: center;
}

.photo-client {
  display: block;
  width: 90px;
  height: 90px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 100%;
  background-image: url('../images/cleint3.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.photo-client.photo-2 {
  background-image: url('../images/client2.jpg');
}

.photo-client.photo-3 {
  background-image: url('../images/client1.jpg');
}

.testimonials-text {
  color: #999;
  font-size: 20px;
  line-height: 36px;
  font-weight: 300;
}

.testimonials-name {
  color: #3b88b6;
  font-size: 17px;
}

.portfolio-o {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3b88b6;
  opacity: 0;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

.portfolio-o:hover {
  opacity: 1;
}

.link {
  position: relative;
  top: 37%;
}

.bottom-footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 17px;
  padding-bottom: 17px;
  border-top: 1px solid #3b3b3b;
  background-color: #292929;
}

.newsletter {
  margin-bottom: 20px;
  color: #a6a6a6;
  font-size: 16px;
  text-align: left;
}

.newsletter.copyright {
  margin-bottom: 0px;
  color: #858585;
  font-size: 13px;
  text-align: center;
}

.text-field {
  position: relative;
  display: inline-block;
  width: 46%;
  height: 42px;
  margin-bottom: -1px;
  float: left;
  border-top-color: hsla(0, 0%, 100%, 0.29);
  border-bottom-color: hsla(0, 0%, 100%, 0.29);
  border-left-color: hsla(0, 0%, 100%, 0.29);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #313131;
  color: #fff;
}

.text-field:active {
  color: #fff;
}

.text-field:focus {
  border-top-color: #3b88b6;
  border-bottom-color: #3b88b6;
  border-left-color: #3b88b6;
  color: #fff;
}

.submit-button {
  position: relative;
  display: inline-block;
  width: 24%;
  margin-left: -1px;
  padding-top: 11px;
  padding-bottom: 11px;
  float: left;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #3b88b6;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}

.submit-button:hover {
  background-color: #296d94;
}

.white {
  color: #fff;
}

.policy {
  color: #707070;
  font-size: 12px;
  text-decoration: none;
}

.policy:hover {
  text-decoration: underline;
}

.policy.cl {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.policy.cl:hover {
  color: #fff;
  text-decoration: none;
}

.logo-footer {
  margin-bottom: 23px;
}

.success-message {
  width: 100%;
  border-radius: 4px;
  background-color: #308a5e;
  color: #fff;
  text-align: center;
}

.paragraph-form {
  margin-bottom: 0px;
  color: #fff;
}

.error-message {
  border-radius: 4px;
  background-color: #e66767;
  text-align: center;
}

.div-hero {
  padding-right: 299px;
  padding-left: 299px;
}

.go-up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
  width: 40px;
  height: 40px;
  border-bottom: 2px solid #969696;
  border-radius: 3px;
  background-color: #aaa;
  background-image: url('../images/angle-double-up_ffffff_101angle-double-up_ffffff_100.png');
  background-position: 50% 50%;
  background-size: 23px;
  background-repeat: no-repeat;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}

.go-up:hover {
  border-bottom-color: #2d6d91;
  background-color: #3b88b6;
}

.ul-top {
  padding-top: 3px;
}

.center {
  text-align: center;
}

.center.primary {
  margin-top: 20px;
}

.filed-label {
  color: #919191;
  font-weight: 400;
}

.text-field-2 {
  height: 40px;
  margin-bottom: 15px;
  border-style: none none solid;
  border-bottom-width: 2px;
  border-bottom-color: #e8e8e8;
  border-radius: 3px;
  background-color: #f2f2f2;
  color: #515151;
}

.text-field-2:active {
  color: #515151;
}

.text-field-2:focus {
  border-bottom-color: #d9d9d9;
  color: #515151;
}

.text-field-2.area {
  height: auto;
  padding-top: 10px;
  padding-bottom: 109px;
}

.map {
  margin-bottom: 40px;
}

.top-slider {
  height: 350px;
  background-color: transparent;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-size: auto;
}

.top-slider-arrow {
  width: 50px;
  height: 50px;
  padding-top: 15px;
  border-bottom: 2px solid #969696;
  border-radius: 4px;
  background-color: #aaa;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  font-size: 18px;
  font-weight: 700;
}

.top-slider-arrow:hover {
  border-bottom-color: #2d6d91;
  background-color: #3b88b6;
}

.hc {
  margin-top: 0px;
  font-size: 20px;
}

.slide {
  padding-top: 10px;
}

.heading-slider {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 32px;
}

.slider-container {
  margin-top: 17px;
}

.column-c {
  overflow: visible;
}

.hamburger {
  display: none;
  padding-right: 1px;
  padding-left: 1px;
}

.nav-menu {
  padding-left: 0px;
}

.pricing {
  width: 25%;
  margin-left: -1px;
  padding-bottom: 20px;
  float: left;
  background-color: #f7f7f7;
  box-shadow: 0 0 0 1px #e1e1e1;
}

.price-top {
  position: relative;
  height: 100px;
  padding: 18px 13px 13px 19px;
  background-color: #313131;
}

.price-top.active {
  background-color: #3b88b6;
}

.list-pricing {
  padding-top: 19px;
  padding-bottom: 19px;
  border-bottom: 1px solid #e1e1e1;
  text-align: center;
}

.list-pricing.list-w {
  background-color: #f2f2f2;
}

.paragraph {
  font-size: 18px;
}

.heading {
  font-size: 20px;
}

.heading-2 {
  font-size: 20px;
}

.paragraph-2 {
  font-size: 18px;
}

.heading-3 {
  font-size: 20px;
}

.paragraph-3 {
  font-size: 18px;
}

.paragraph-4 {
  color: #130101;
  font-size: 18px;
  font-weight: 400;
}

.paragraph-5 {
  font-size: 18px;
}

.heading-4 {
  font-size: 20px;
}

.paragraph-6 {
  font-size: 18px;
}

.paragraph-7 {
  font-size: 18px;
}

.paragraph-8 {
  font-size: 18px;
}

.paragraph-9 {
  color: #160101;
  font-size: 20px;
}

.paragraph-10 {
  font-size: 18px;
}

.paragraph-11 {
  font-size: 18px;
}

.list {
  font-size: 18px;
}

.paragraph-12 {
  font-size: 18px;
}

.paragraph-13 {
  font-size: 18px;
}

.paragraph-14 {
  font-size: 18px;
}

.paragraph-15 {
  font-size: 18px;
}

.text-block {
  font-size: 16px;
}

.container {
  display: block;
}

.image {
  margin-left: 0px;
  padding-right: 10px;
  text-align: left;
}

.paragraph-16 {
  font-size: 18px;
}

.paragraph-17 {
  font-size: 18px;
}

.paragraph-18 {
  font-size: 18px;
}

.dropdown-toggle {
  padding-top: 50px;
}

.icon-5 {
  padding-top: 7px;
}

.heading-5 {
  color: #e9f2f5;
}

.div-block {
  padding-top: 40px;
}

.image-2 {
  width: auto;
  margin-left: 10px;
}

.image-3 {
  padding-left: 10px;
}

.columns {
  margin-left: 0px;
  padding-top: 0px;
}

.image-4 {
  background-image: url('../images/product-school-phlc0v-lcvw-unsplash-1.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.mask-org {
  height: 100%;
  background-image: url('../images/iitm-rp.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.mask-collab {
  background-image: url('../images/collab.png');
  background-position: 0px 0px;
  background-size: auto;
}

.mask-courses {
  background-image: url('../images/mathematics-1509559_1280.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.mask-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(3%, #fff));
  background-image: linear-gradient(180deg, #000, #fff 3%);
}

.heading-6 {
  margin-top: 0px;
  text-align: justify;
}

.image-5 {
  position: static;
  background-color: #2d6d91;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-6 {
  display: inline-block;
}

.mask-events {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: url('../images/event-banner.png');
  background-position: 0px 0px;
  background-size: auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.heading-7 {
  margin-top: 5px;
  background-color: #3c34d3;
  color: #eef3f3;
  text-align: left;
}

.lsda-banner {
  background-image: url('../images/brain-gc5e3c105a_1280.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.rich-text-block {
  color: rgba(5, 1, 1, 0.97);
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
}

.course-brief {
  color: #020a0f;
  font-size: 30px;
  line-height: 22px;
  font-weight: 700;
}

.bold-text {
  text-align: left;
}

.column {
  padding-right: 0px;
  padding-left: 0px;
  background-color: rgba(191, 199, 201, 0.09);
  text-align: center;
}

.rich-text-block-2 {
  color: #000;
  font-weight: 500;
  text-align: justify;
}

.rich-text-block-2.superscript {
  margin-top: 0px;
}

.column-2 {
  padding-right: 2px;
  padding-left: 2px;
  background-color: rgba(205, 215, 218, 0.5);
  background-image: radial-gradient(circle farthest-corner at 50% 50%, rgba(238, 218, 202, 0.33), #fff);
  text-align: center;
}

.heading-8 {
  text-align: center;
}

.image-7 {
  box-shadow: 1px 1px 3px 0 #474141;
  text-align: center;
}

.text-span {
  color: #0f0202;
  font-weight: 400;
}

.text-span-2 {
  color: #050000;
  font-weight: 400;
}

.accordion-item {
  margin-bottom: 10px;
}

.heading-9 {
  color: #09f;
  cursor: pointer;
}

.accordion-item-content {
  overflow: hidden;
}

.text-span-3 {
  color: #0e486b;
}

.heading-7-copy {
  margin-top: 5px;
  background-color: #3c34d3;
  color: #eef3f3;
  text-align: center;
}

.image-8 {
  text-align: center;
}

.div-block-2 {
  text-align: center;
}

.container-2 {
  margin-right: 0px;
  margin-left: 10px;
  text-align: center;
}

.heading-10 {
  text-align: center;
}

.banner-text {
  color: #ec330e;
  text-align: center;
}

.collab-banner {
  color: #fff;
  text-align: center;
}

.container-3 {
  color: #969696;
}

.hub-container {
  background-color: #fff;
  color: #fff;
}

.heading-11 {
  background-color: #fff;
  color: #000;
  text-align: center;
}

.column-3 {
  background-color: #fff;
}

.heading-12 {
  color: #000;
  text-align: center;
}

.newsletter-copy {
  margin-bottom: 20px;
  color: #fff;
  font-size: 16px;
  text-align: justify;
}

.newsletter-copy.copyright {
  margin-bottom: 0px;
  color: #858585;
  font-size: 13px;
  text-align: center;
}

.heading-13 {
  margin-top: 10px;
  color: #000;
}

.mask-outreach {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: url('../images/news.png');
  background-position: 0px 0px;
  background-size: auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-3 {
  text-align: center;
}

.ciso-banner {
  background-image: url('../images/ciso.png');
  background-position: 0px 0px;
  background-size: auto;
}

.columns-2 {
  margin-top: 20px;
}

.initiate-banner {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: url('../images/sprout.png');
  background-position: 0px 0px;
  background-size: auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.menu-icon {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.menu-button-2 {
  z-index: 2;
  padding-right: 10px;
  padding-left: 10px;
}

.menu-icon-2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 22px;
  height: 22px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.menu-line-top {
  height: 2px;
  border-radius: 1px;
  background-color: #151515;
}

.menu-line-middle {
  height: 2px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 1px;
  background-color: #151515;
}

.menu-line-bottom {
  height: 2px;
  border-radius: 1px;
  background-color: #151515;
}

.column-4 {
  padding-right: 5px;
  padding-left: 5px;
}

.rich-text-block-3 {
  background-color: transparent;
  opacity: 1;
  color: #000;
}

.fellowship-mask {
  background-image: url('../images/pravartak-fellowship.png');
  background-position: 0px 0px;
  background-size: auto;
}

.image-9 {
  position: static;
  float: none;
  clear: none;
  border-radius: 17px;
  text-align: center;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.columns-3 {
  margin-bottom: 5px;
}

.columns-4 {
  margin-bottom: 20px;
}

.link-2 {
  width: 24px;
}

.link-3 {
  font-size: 20px;
}

.link-4 {
  font-size: 20px;
}

.text-block-2 {
  color: #0e0202;
  font-size: 20px;
}

.column-5 {
  position: static;
  text-align: center;
}

.column-6 {
  text-align: center;
}

.column-7 {
  text-align: center;
}

.text-block-3 {
  color: #0e0101;
}

.text-span-4 {
  display: inline;
  color: #ff0;
}

.div-block-4 {
  margin-top: 10px;
}

.columns-5 {
  margin-right: 10px;
}

.image-10 {
  margin-right: 5px;
}

.image-11 {
  margin-left: 5px;
}

.goals-mask {
  background-image: url('../images/goals-target-1.png');
  background-position: 0px 0px;
  background-size: auto;
}

.goals-caption {
  color: #fff;
}

.grid {
  grid-row-gap: 18px;
  grid-template-areas: "Area Area-2 Area-3";
  -ms-grid-columns: 3fr 0.7fr 0.8fr 0.8fr 0.8fr 0.8fr 1fr;
  grid-template-columns: 3fr 0.7fr 0.8fr 0.8fr 0.8fr 0.8fr 1fr;
  -ms-grid-rows: auto 18px auto 18px auto;
  grid-template-rows: auto auto auto;
  border: 2px solid #000;
  background-color: #8cc0e7;
  box-shadow: 1px 1px 3px 0 #000;
  color: #fff;
  font-size: 16px;
}

.text-block-4 {
  color: #08051b;
  text-align: center;
}

.text-block-5 {
  color: #0f0101;
}

.container-4 {
  margin-top: 40px;
}

.bharat-banner {
  background-color: #0e0319;
  background-image: url('../images/ciso-banner.png');
  background-position: 0px 0px;
  background-size: auto;
  box-shadow: inset 0 0 3px 0 #000;
  opacity: 1;
}

.button-2 {
  border-radius: 6px;
  background-color: #e51c1c;
}

.div-block-5 {
  padding-top: 40px;
  text-align: center;
}

.text-block-6 {
  display: block;
  padding-top: 0px;
  color: #f0e5e5;
  font-size: 16px;
  text-align: center;
}

.div-block-6 {
  padding-top: 40px;
}

.text-span-5 {
  font-size: 36px;
}

.side-head-ciso {
  margin-top: 0px;
  background-color: #ff4500;
  color: #eef3f3;
  text-align: center;
}

.button-3 {
  font-size: 24px;
}

.button-4 {
  font-size: 26px;
}

.button-5 {
  font-size: 24px;
}

.button-5-copy {
  font-size: 24px;
}

.admission-button {
  display: inline-block;
  padding: 12px 18px;
  border-bottom: 2px solid #969696;
  border-radius: 8px;
  background-color: #ff8c00;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  color: #fff;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
}

.admission-button:hover {
  border-bottom-color: #2d6d91;
  background-color: #3b88b6;
}

.admission-button.button-blue {
  border-bottom-color: #2d6d91;
  background-color: #3b88b6;
}

.admission-button.button-blue:hover {
  border-bottom-color: #313131;
  background-color: #505050;
}

.image-13 {
  padding-top: 60px;
  -webkit-transform: translate3d(0px, 0px, 90px);
  transform: translate3d(0px, 0px, 90px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.image-14 {
  margin-top: 40px;
  padding-top: 0px;
}

.ciso-cert-block {
  padding-left: 10px;
  background-color: green;
  opacity: 1;
  color: #f3ebeb;
}

.ciso-faculties-header {
  margin-top: 5px;
  background-color: #ff4500;
  color: #eef3f3;
  text-align: center;
}

.image-15 {
  border-radius: 100px;
  text-align: center;
}

.columns-6 {
  border-radius: 11px;
}

.column-8 {
  text-align: center;
}

.text-block-7 {
  color: #090520;
  text-align: center;
}

.ciso-fees {
  margin-bottom: 10px;
  padding-bottom: 10px;
  background-color: #09f;
  background-image: linear-gradient(45deg, rgba(45, 94, 104, 0.91) 15%, #fff);
  box-shadow: 5px 5px 3px 0 #000;
  opacity: 1;
  color: #f1eaea;
}

.paragraph-19 {
  border-radius: 85px;
}

.columns-7 {
  margin-top: 20px;
  padding-top: 0px;
}

.column-9 {
  text-align: center;
}

.column-10 {
  text-align: center;
}

.column-11 {
  text-align: center;
}

.div-block-7 {
  margin-top: 10px;
}

.institutes-tab {
  margin-right: 5px;
  padding: 11px 20px;
  border-bottom: 2px solid #e3e3e3;
  border-radius: 4px;
  background-color: #f6f6f6;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  color: #818181;
  font-size: 16px;
}

.institutes-tab.w--current {
  border-bottom-color: #2d6d91;
  background-color: #1e9722;
  color: #fff;
}

.columns-8 {
  margin-top: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: #1e3fc3;
  border-radius: 50px;
  background-image: linear-gradient(225deg, #ca3389, transparent 14%);
}

.columns-9 {
  text-align: center;
}

.rich-text-block-4 {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.image-16 {
  position: relative;
  overflow: visible;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-17 {
  padding-top: 0px;
}

.image-18 {
  padding-top: 10px;
}

.samvedan-banner {
  background-color: #0e0319;
  background-image: url('../images/samvedan-banner-1.png');
  background-position: 0px 0px;
  background-size: auto;
  box-shadow: inset 0 0 3px 0 #000;
  opacity: 1;
}

.rule-image {
  margin-top: 20px;
  padding-top: 0px;
  border-radius: 250px;
  -webkit-transform: translate3d(0px, 0px, 90px);
  transform: translate3d(0px, 0px, 90px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.samvedan-jury-banner {
  margin-top: 5px;
  background-color: #ff4500;
  color: #eef3f3;
  text-align: center;
}

.samvedan-steering {
  margin-top: 5px;
  background-color: #3e682e;
  color: #eef3f3;
  text-align: center;
}

.samvedan-organizing {
  margin-top: 5px;
  background-color: #330ed8;
  color: #eef3f3;
  text-align: center;
}

.samvedan-technical {
  margin-top: 5px;
  background-color: #f13356;
  color: #eef3f3;
  text-align: center;
}

.samvedan-banner-text {
  color: #ff0;
  font-size: 36px;
}

.image-19 {
  margin-top: 20px;
  padding-top: 0px;
}

.heading-14 {
  margin-bottom: 10px;
}

.image-20 {
  margin-top: 10px;
  border-radius: 70px;
}

.div-block-9 {
  margin-top: 20px;
}

.text-block-8 {
  padding-top: 0px;
  color: #000;
  font-size: 18px;
  text-align: left;
}

.div-block-10 {
  margin-bottom: 20px;
}

.container-5 {
  margin-top: 20px;
}

.text-block-9 {
  background-image: radial-gradient(circle closest-corner at 50% 50%, #14e66c, #fff);
  color: #00008b;
  font-size: 20px;
  text-align: center;
}

.container-6 {
  margin-top: 20px;
}

.samv-sample-tab {
  margin-right: 5px;
  padding: 11px 20px;
  border-bottom: 2px solid #e3e3e3;
  border-radius: 4px;
  background-color: #f6f6f6;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  color: #818181;
  font-size: 16px;
}

.samv-sample-tab.w--current {
  border-bottom-color: #2d6d91;
  background-color: orange;
  color: #fff;
}

.samv-sample-sel-tab {
  position: relative;
  z-index: 4;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 0px;
  background-color: #fff;
  box-shadow: 8px 8px 3px 0 #000;
  color: #fff;
}

.samv-sample-sel-tab.gray {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #e3e3e3;
  background-color: #f7f7f7;
}

.samv-sample-sel-tab.gray.pattern {
  border-top-style: none;
  border-bottom-style: none;
  background-color: #3b88b6;
  text-align: center;
}

.samv-sample-sel-tab.no-big-margin {
  padding-top: 0px;
  padding-bottom: 0px;
}

.image-21 {
  margin-top: 20px;
}

.samv-rules {
  background-color: transparent;
  opacity: 1;
  color: #000;
  font-size: 20px;
  line-height: 21px;
  font-weight: 500;
}

.text-block-10 {
  margin-top: 10px;
  color: #000;
  font-size: 16px;
  text-align: justify;
}

.image-22 {
  overflow: visible;
  text-align: left;
  -o-object-fit: contain;
  object-fit: contain;
}

.div-block-11 {
  display: block;
  text-align: center;
}

.text-block-11 {
  margin-top: 40px;
  color: #000;
  font-size: 18px;
}

.text-block-12 {
  color: #000;
  font-size: 16px;
}

.text-block-13 {
  color: #000;
  font-size: 16px;
}

.heading-15 {
  margin-top: 20px;
  margin-bottom: 0px;
}

.column-12 {
  padding-left: 0px;
}

.samv-commitee {
  margin-top: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #c91d1d;
}

.samv-comm-tab {
  margin-right: 5px;
  padding: 11px 20px;
  border-bottom: 2px solid #e3e3e3;
  border-radius: 4px;
  background-color: #f6f6f6;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  color: #818181;
  font-size: 16px;
}

.samv-comm-tab.w--current {
  border-bottom-color: #2d6d91;
  background-color: #db365a;
  color: #fff;
}

.text-span-7 {
  position: relative;
}

.columns-10 {
  margin-top: 20px;
}

.spresense-boards {
  margin-top: 10px;
  color: #000;
  font-size: 21px;
  text-align: left;
}

.bold-text-2 {
  font-size: 18px;
}

.pcb-image {
  margin-top: 90px;
  padding-top: 0px;
  border-radius: 250px;
  -webkit-transform: translate3d(0px, 0px, 90px);
  transform: translate3d(0px, 0px, 90px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.rule-left-image {
  margin-top: 20px;
  padding-top: 0px;
  border-radius: 0px;
  -webkit-transform: translate3d(0px, 0px, 90px);
  transform: translate3d(0px, 0px, 90px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.image-23 {
  margin-left: 3px;
}

.image-24 {
  margin-left: 3px;
}

.columns-11 {
  margin-top: 10px;
}

.div-block-12 {
  text-align: center;
}

.heading-16 {
  margin-bottom: 10px;
}

.spresense-boards1 {
  margin-top: 10px;
  color: #000;
  font-size: 16px;
  text-align: justify;
}

.text-block-14 {
  color: #000;
  font-size: 20px;
  text-align: center;
}

.samvedan-line {
  width: 100%;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #ebebeb;
}

.samvedan-how-to-apply {
  margin-top: 20px;
}

.samv-participate {
  margin-top: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: #1ec337;
  border-radius: 50px;
  background-image: linear-gradient(225deg, #33ca39, transparent 14%);
}

.prize-button {
  border-radius: 6px;
  background-color: #e51c1c;
  font-size: 16px;
}

.bold-text-3 {
  font-size: 18px;
}

.columns-12 {
  margin-right: 0px;
  margin-left: 0px;
}

.text-block-15 {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #000;
}

.superscript {
  position: relative;
  top: -6px;
  display: inline-block;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  float: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 2 auto;
  -ms-flex: 0 2 auto;
  flex: 0 2 auto;
  direction: ltr;
  font-size: 8px;
  line-height: 8px;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.text-block-16 {
  color: #000;
  font-size: 15px;
  text-align: justify;
  text-indent: 0px;
}

.text-block-17 {
  color: #000;
  font-size: 18px;
}

.events-icons {
  position: static;
  background-color: transparent;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-13 {
  margin-bottom: 10px;
}

.div-block-14 {
  margin-bottom: 10px;
}

.div-block-15 {
  margin-bottom: 10px;
}

.columns-13 {
  display: block;
}

.eula-block {
  display: block;
  margin-top: 10px;
  color: #000;
  font-size: 16px;
  text-align: justify;
}

.eula-link {
  display: block;
  text-align: center;
}

.degree-image {
  position: static;
  margin-top: 10px;
  float: none;
  clear: none;
  border-radius: 17px;
  text-align: center;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.fellowship-page-link {
  margin-top: 20px;
  color: #0e0202;
  font-size: 20px;
}

.bold-text-4 {
  font-size: 24px;
}

.bold-text-5 {
  font-size: 24px;
}

.sys-level-nw-course {
  background-color: #0e0319;
  background-image: url('../images/systems-level-nw-course-banner.png');
  background-position: 0px 0px;
  background-size: auto;
  box-shadow: inset 0 0 3px 0 #000;
  opacity: 1;
}

.sys-level-nw-top {
  padding-top: 0px;
  color: #f0e5e5;
  font-size: 16px;
}

.sys-level-nw-banner-text {
  color: #ff0;
  font-size: 36px;
}

.sys-lvl-nw-side {
  margin-top: 0px;
  background-color: orange;
  color: #eef3f3;
  text-align: center;
}

.column-13 {
  margin-top: 10px;
}

.column-14 {
  margin-top: 10px;
}

.sys-lvl-nw-apply {
  margin-top: 20px;
}

.sys-lvl-nw-course-bottom {
  position: relative;
  z-index: 4;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 0px;
  background-color: #fff;
  box-shadow: 8px 8px 3px 0 #000;
  color: #fff;
}

.sys-lvl-nw-course-bottom.gray {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #e3e3e3;
  background-color: #f7f7f7;
}

.sys-lvl-nw-course-bottom.gray.pattern {
  border-top-style: none;
  border-bottom-style: none;
  background-color: #3b88b6;
  text-align: center;
}

.sys-lvl-nw-course-bottom.no-big-margin {
  padding-top: 0px;
  padding-bottom: 0px;
}

.sys-lvl-nw-brief {
  padding-left: 10px;
  background-color: purple;
  opacity: 1;
  color: #f3ebeb;
}

.sys-lvl-nw-syllabus {
  margin-top: 5px;
  background-color: #ff4500;
  color: #eef3f3;
  text-align: center;
}

.column-15 {
  text-align: center;
}

.sys-lvl-nw-course-img {
  margin-top: 60px;
  border-radius: 70px;
}

.container-7 {
  margin-top: 20px;
}

.container-8 {
  margin-top: 20px;
}

.image-25 {
  margin-top: 20px;
}

.image-26 {
  margin-top: 10px;
}

.image-27 {
  margin-top: 10px;
}

.columns-14 {
  margin-top: 10px;
}

.course-heading {
  margin-top: 10px;
  color: #000;
  font-size: 30px;
}

.columns-15 {
  margin-top: 20px;
}

.eir-mask {
  background-image: url('../images/iStock-1184804468.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.eir-banner-text {
  color: #fff;
  text-align: center;
}

.youtube {
  margin-top: 20px;
}

.istac-banner {
  background-color: #0e0319;
  background-image: url('../images/ptf-space-banner.png');
  background-position: 0px 0px;
  background-size: auto;
  box-shadow: inset 0 0 3px 0 #000;
  opacity: 1;
}

.istac-register {
  border-radius: 6px;
  background-color: #e51c1c;
  font-size: 16px;
}

.istac-banner-text {
  display: inline-block;
  color: #f5f5ee;
  font-size: 36px;
}

.list-item {
  color: #000;
}

.list-2 {
  font-size: 16px;
}

.istac-consortium-text {
  margin-top: 10px;
  color: #000;
  font-size: 16px;
  text-align: justify;
}

.istac-mission {
  margin-top: 20px;
  padding-top: 0px;
  border-radius: 250px;
  -webkit-transform: translate3d(0px, 0px, 90px);
  transform: translate3d(0px, 0px, 90px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.istack-image1 {
  margin-top: 0px;
  color: #000;
  font-size: 16px;
  text-align: justify;
}

.istac-members-tab {
  margin-right: 5px;
  padding: 11px 20px;
  border-bottom: 2px solid #e3e3e3;
  border-radius: 4px;
  background-color: #f6f6f6;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  color: #818181;
  font-size: 16px;
}

.istac-members-tab.w--current {
  border-bottom-color: #2d6d91;
  background-color: orange;
  color: #fff;
}

.istack-membership {
  margin-right: 5px;
  padding: 11px 20px;
  border-bottom: 2px solid #e3e3e3;
  border-radius: 4px;
  background-color: #f6f6f6;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  color: #818181;
  font-size: 16px;
}

.istack-membership.w--current {
  border-bottom-color: #2d6d91;
  background-color: orange;
  color: #fff;
}

.image-28 {
  border-radius: 90px;
}

.columns-16 {
  margin-top: 20px;
}

.text-block-18 {
  display: none;
  color: #4518e7;
  font-size: 18px;
  text-align: center;
}

.bold-text-6 {
  text-align: justify;
}

.paragraph-20 {
  text-align: justify;
}

.bold-text-7 {
  text-align: justify;
}

.bold-text-8 {
  text-align: justify;
}

.paragraph-21 {
  text-align: justify;
}

.bold-text-9 {
  text-align: justify;
}

.paragraph-22 {
  text-align: justify;
}

.paragraph-23 {
  text-align: justify;
}

.paragraph-24 {
  text-align: justify;
}

.paragraph-25 {
  text-align: justify;
}

.istack-top-text {
  color: #000;
  font-weight: 500;
  text-align: justify;
}

.istack-top-text.superscript {
  margin-top: 0px;
}

.div-block-16 {
  margin-bottom: 10px;
}

.samv-text-block-6-copy {
  display: block;
  padding-top: 0px;
  color: #f0e5e5;
  font-size: 16px;
  text-align: left;
}

.text-block-6-copy {
  display: block;
  padding-top: 0px;
  color: #f0e5e5;
  font-size: 16px;
  text-align: center;
}

.samv-div-block-5-copy {
  padding-top: 40px;
  text-align: left;
}

.pr-link1 {
  color: #0a0000;
}

.columns-17 {
  margin-bottom: 5px;
  font-size: 16px;
  text-align: center;
}

.column-16 {
  margin-bottom: 20px;
}

.columns-18 {
  margin-top: 20px;
}

.button-6 {
  margin-top: 10px;
  background-color: red;
}

.div-block-17 {
  text-align: center;
}

.contact-form {
  margin-top: 40px;
}

.button-7 {
  background-color: #ec3853;
}

.contact-button {
  height: auto;
  margin-top: 40px;
  background-color: #ec3853;
  font-size: 18px;
}

.bold-text-10 {
  position: relative;
}

.bold-text-10-contact {
  position: relative;
}

.column-17 {
  padding-left: 5px;
}

.button-8 {
  font-size: 16px;
}

html.w-mod-js *[data-ix="move-down-link-icon"] {
  opacity: 0;
  -webkit-transform: translate(0px, 140px);
  -ms-transform: translate(0px, 140px);
  transform: translate(0px, 140px);
}

html.w-mod-js *[data-ix="slide-in-top-button-on-scroll"] {
  -webkit-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate(100px, 0px);
}

html.w-mod-js *[data-ix="slide-in-inner-big-text-on-load"] {
  opacity: 0;
  -webkit-transform: translate(0px, -25px);
  -ms-transform: translate(0px, -25px);
  transform: translate(0px, -25px);
}

html.w-mod-js *[data-ix="slide-in-inner-sub-text-on-load"] {
  opacity: 0;
  -webkit-transform: translate(0px, -25px);
  -ms-transform: translate(0px, -25px);
  transform: translate(0px, -25px);
}

html.w-mod-js *[data-ix="zoom-in-image-on-scroll"] {
  opacity: 0;
  -webkit-transform: scale(0.7500000000000002, 0.7500000000000002);
  -ms-transform: scale(0.7500000000000002, 0.7500000000000002);
  transform: scale(0.7500000000000002, 0.7500000000000002);
}

html.w-mod-js *[data-ix="slide-in-slider-image-on-slide"] {
  opacity: 0;
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}

html.w-mod-js *[data-ix="slide-in-heading-slider-on-slide"] {
  opacity: 0;
  -webkit-transform: translate(0px, -20px);
  -ms-transform: translate(0px, -20px);
  transform: translate(0px, -20px);
}

html.w-mod-js *[data-ix="slide-in-second-text-on-slide"] {
  opacity: 0;
  -webkit-transform: translate(0px, -20px);
  -ms-transform: translate(0px, -20px);
  transform: translate(0px, -20px);
}

html.w-mod-js *[data-ix="slide-in-slider-paragraph-on-slide"] {
  opacity: 0;
  -webkit-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate(-100px, 0px);
}

html.w-mod-js *[data-ix="slide-in-button-on-slide"] {
  opacity: 0;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
}

html.w-mod-js *[data-ix="slide-in-button-on-slide-2"] {
  opacity: 0;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
}

@media screen and (min-width: 1920px) {
  .samvedan-banner {
    background-size: cover;
  }

  .sys-level-nw-course {
    background-size: cover;
  }

  .istac-banner {
    background-size: cover;
  }
}

@media screen and (max-width: 991px) {
  .logo {
    margin-top: 18px;
  }

  .nav-link {
    padding-top: 20px;
  }

  .nav-link:hover {
    box-shadow: none;
  }

  .nav-link.w--current {
    box-shadow: 0 -1px 0 0 transparent;
  }

  .iconbox-wrapper {
    margin-bottom: 40px;
    padding-right: 135px;
    padding-left: 135px;
    text-align: center;
  }

  .process-wrapper {
    width: 50%;
  }

  .vertical-arrow {
    right: 0px;
  }

  .vertical-arrow._2 {
    left: 0px;
  }

  .footer {
    padding-left: 25px;
  }

  .div-hero {
    padding-right: 54px;
    padding-left: 54px;
  }

  .top-slider {
    height: 265px;
    padding-bottom: 0px;
  }

  .slide {
    padding-top: 45px;
  }

  .column-c {
    text-align: center;
  }

  .column-space {
    margin-top: 30px;
  }

  .hamburger {
    margin-top: 17px;
    padding: 12px;
    border-bottom: 2px solid #969696;
    border-radius: 4px;
    background-color: #aaa;
    color: #fff;
  }

  .hamburger.w--open {
    border-bottom-color: #2d6d91;
    background-color: #3b88b6;
  }

  .nav-menu {
    background-color: #f2f2f2;
  }

  .menu-button {
    opacity: 0.8;
  }

  .menu-button.w--open {
    background-color: #000;
    opacity: 1;
  }

  .menu-icon {
    color: #fff;
    line-height: 21px;
  }

  .menu-button-2 {
    width: 60px;
    height: 60px;
    padding: 20px;
    background-color: transparent;
  }

  .menu-button-2.w--open {
    background-color: transparent;
    color: #151515;
  }

  .menu-icon-2 {
    width: 20px;
    height: 20px;
  }

  .text-span-7 {
    position: static;
  }
}

@media screen and (max-width: 767px) {
  .banner.inner-banner {
    padding-top: 36px;
  }

  .logo {
    margin-top: 24px;
  }

  .iconbox-wrapper {
    padding-right: 39px;
    padding-left: 39px;
  }

  .process-wrapper {
    width: 100%;
  }

  .portfolio-base {
    width: 50%;
  }

  .client {
    width: 33.333%;
  }

  .top-slider {
    padding-bottom: 0px;
  }

  .slide {
    padding-top: 10px;
  }

  .hamburger {
    margin-right: 17px;
  }

  .pricing {
    width: 50%;
  }

  .paragraph-5 {
    height: auto;
  }

  .container-2 {
    margin-left: 20px;
  }

  .goals-mask {
    background-image: url('../images/goals-target-2.png');
    background-position: 50% 50%;
    background-size: cover;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    font-size: 25px;
  }

  .banner.inner-banner {
    padding-top: 11px;
    padding-bottom: 37px;
  }

  .logo {
    margin-top: 22px;
  }

  .sub-text {
    margin-top: 10px;
  }

  .no-margin {
    padding-right: 7px;
    padding-left: 7px;
  }

  .slide-navigation.top-slide {
    display: none;
  }

  .portfolio-base {
    width: 100%;
  }

  .footer {
    padding-left: 0px;
  }

  .tab {
    margin-top: 12px;
  }

  .testimonials-wrapper {
    padding-right: 36px;
    padding-left: 36px;
  }

  .submit-button {
    width: 28%;
  }

  .div-hero {
    padding-right: 12px;
    padding-left: 12px;
  }

  .top-slider {
    height: 200px;
    padding-bottom: 0px;
  }

  .slide {
    position: relative;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    overflow: visible;
    height: 30%;
    padding-top: 0px;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .heading-slider {
    font-size: 29px;
  }

  .pricing {
    width: 100%;
    margin-bottom: 41px;
  }

  .container-2 {
    margin-left: 20px;
  }

  .initiate-banner {
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
  }

  .menu-button {
    display: block;
  }

  .menu-button-2 {
    padding-top: 40px;
  }

  .goals-mask {
    margin-right: auto;
    margin-left: auto;
    background-image: url('../images/goals-target-2.png');
    background-position: 0% 50%;
    background-size: cover;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
  }

  .bharat-banner {
    background-image: url('../images/ciso-banner-mobile.png');
    background-position: 50% 50%;
    background-size: auto;
  }

  .admission-button {
    text-align: center;
  }

  .institutes-tab {
    margin-top: 12px;
  }

  .div-block-8 {
    position: static;
    float: none;
    clear: none;
    font-size: 14px;
    text-align: left;
    text-decoration: line-through;
  }

  .samvedan-banner {
    background-image: url('../images/samvedan-banner-1-mobile.png');
    background-position: 0px 0px;
    background-size: cover;
  }

  .text-span-6 {
    position: static;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: block;
    float: none;
    clear: none;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .samv-sample-tab {
    margin-top: 12px;
  }

  .samv-comm-tab {
    margin-top: 12px;
  }

  .text-span-7 {
    position: static;
  }

  .sys-level-nw-course {
    background-image: url('../images/systems-level-nw-course-banner.png');
    background-position: 0px 0px;
    background-size: cover;
  }

  .istac-banner {
    background-image: url('../images/ptf-space-banner.png');
    background-position: 0% 0%;
    background-size: cover;
  }

  .istac-banner-text {
    display: inline-block;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .istac-members-tab {
    margin-top: 12px;
  }

  .istack-membership {
    margin-top: 12px;
  }
}

